<div id="demo-button-land" class="group">
  <form action="<%= session_url %>" method="post">
    <%= user_auth_token %>
    <input type="hidden" name="user[username]" id="username" value="guest_user">
    <input type="hidden" name="user[password]" id="password" value="password">
    <input type="submit" value="Demo User" class="demo-user-submit">
  </form>
  <p>Don't?</p>
</div>
