<form action="<%= session_url%>" method="post">
  <%= user_auth_token %>
  <input type="hidden" name="_method" value="DELETE">
  <button>Sign Out</button>
</form>

<a class="menu-button" href="">Browse Matches</a>
<a class="menu-button" href="">Codevelop</a>
<a class="menu-button" href="#/profile">Profile</a>
<a class="menu-button" href="#/messages">Messages</a>
