<form action="<%= session_url%>" method="post">
  <%= user_auth_token %>
  <input type="hidden" name="_method" value="DELETE">
  <button>Sign Out</button>
</form>

<a href="">Browse Matches</a>

<a href="">Codevelop</a>
<a href="/users/show/">Profile</a>
<a href="/messages">Messages</a>
