<section class="backdrop">
  <% if not signed_in? %>
  <section class="sign-in">
    <div class="group">
      <a href="session/new" class="btn btn-social btn-codevelop">Sign In</a>
      <p>Have an account?</p>
    </div>
    <%= render partial: "demo_user" %>
  </section>

  <section class="sign-up-area group">
    <img src="https://s3.amazonaws.com/codevelopavatarproduction/codeveloplogoupdated.png" id="site-title">
    <h2 id="tagline">Find a coding pair whose bugs don't bug you.</h2>
    <form action="<%= new_user_url %>" method="get" class="language-selection-area">
      <p>I am</p>
      <select class="language-selector group" name="language">
        <option value="none">Language Agnostic</option>
        <option value="ruby">a Rubyist</option>
        <option value="javascript">a Javascripter</option>
        <option value="python">a Pythonista</option>
        <option value="other">a Malbolgean</option>
      </select>
      <button id="continue-button">Continue</button>
    </form>
  </section>
  <section class="footer-links">
    <p><a href="http://appacademy.io">App Academy</a> capstone project by <a href="https://tbescherer.github.io">Thomas Bescherer</a></p>
  </section>
  <% else %>

    <section id="menu-bar" class="group">
    <%= render partial: "menu" %>
    </section>
    <section id="main"></section>
    <script>$(Codevelop.initialize);</script>
  <% end %>
</section>

<%= render partial: "dialog_form" %>
