<section class="backdrop">
  <% if not signed_in? %>
  <section class="">
    <p>Have an account?</p>
    <a href="session/new" class="btn btn-block btn-social btn-codevelop"><i class="fa">Co</i> Sign In </a>
    <a class="btn btn-block btn-social btn-github" href="auth/github"><i class="fa fa-github"></i> Sign in with Github!</a>
  </section>
  <section class="main">
    <h1 id="site-title"> Codevelop </h1>
    <h2>Find a coding pair who isn't bugged by your bugs</h2>
    <form action="<%= new_user_url %>" method="get">
      <p>I am: </p>
      <select class="language-selector" name="language">
        <option value="none">Language Agnostic</option>
        <option value="ruby">A Rubyist</option>
        <option value="javascript">A javascripter</option>
      </select>
      <button>Submit</button>
    </form>
  </section>
  <% else %>
    You're logged in!
    <section id="menu-bar">
    <%= render partial: "menu" %>
    </section>
    <section id="main"></section>
    <script>$(Codevelop.initialize);</script>
  <% end %>
</section>
