<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <%= user_auth_token %>
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <input type="submit" value="Sign In">
</form>

--Or--

<a class="btn btn-block btn-social btn-github" href="auth/github">Sign in with Github!</a>
