<div id="sign-in-area">
  <img src="https://s3.amazonaws.com/codevelopavatarproduction/codeveloplogoupdated.png" id="site-title">
  <h1>Sign In</h1>

  <form action="<%= session_url %>" method="post">
    <%= user_auth_token %>
    <label for="username">Username</label>
    <input type="text" name="user[username]" id="username">

    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password">

    <input type="submit" value="Sign in" class="btn-submit">
  </form>

  <div id="demo-button-land" class="group">
    <form action="<%= session_url %>" method="post">
      <%= user_auth_token %>
      <input type="hidden" name="user[username]" id="username" value="guest_user">
      <input type="hidden" name="user[password]" id="password" value="password">
      <input type="submit" value="Demo User" class="demo-user-submit">
    </form>
  </div>

  <span id="the-line"></span>
  <p id="separating line">Or</p>

  <a class="btn-github" href="../auth/github">Sign in with Github!</a>

</div>
