<ul class="question-responses">
  <% user._answeredQuestions.each(function(question) { %>
  <li>
  <p>Question: <%= question.get("question_body") %></p>
  <p>Their Answer: <%= question.get("body") %></p>
  </li>
<% }) %>
</ul>
