<h1>Sign Up</h1>
<% params[:language] ||= "none" %>
<form action="<%= users_url %>" method="post">
  <%= user_auth_token %>
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">

  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <input type="hidden" name="user[language]" value="<%=params[:language]%>">
  <input type="submit" value="Sign Up">
</form>
 -- or --
 <a class="btn btn-block btn-social btn-github" href="../auth/github">Sign in with Github!</a>
