About

<label>Self Summary</label>
<section id="self-summary" class="about-box">
<p><%= user.escape("about_field_one") || "Write a short summary of yourself!" %></p>
<img src="https://s3.amazonaws.com/codevelopavatarproduction/edit_profile_icon.png" class="edit-pencil edit-button" id="change-self-summary">
</section>

<label>Skills</label>
<section id="skills" class="about-box">
<p><%= user.escape("about_field_two") || "What are you good at?"%></p>
<img src="https://s3.amazonaws.com/codevelopavatarproduction/edit_profile_icon.png" class="edit-pencil edit-button" id="change-skills">
</section>

<label>Message me if</label>
<section id="message-if" class="about-box">
<p><%= user.escape("about_field_three") || "Explain your interests." %></p>
<img src="https://s3.amazonaws.com/codevelopavatarproduction/edit_profile_icon.png" class="edit-pencil edit-button" id="change-message-if">
</section>
