About

<label>Self Summary</label>
<section id="self-summary" class="about-box">
<p><%= user.escape("about_field_one") || "Write a short summary of yourself!" %></p>
<button id="change-self-summary" class="edit-button">Edit</button>
</section>

<label>Skills</label>
<section id="skills" class="about-box">
<p><%= user.escape("about_field_one") || "What are you good at?"%></p>
<button id="change-skills" class="edit-button">Edit</button>
</section>

<label>Message me if</label>
<section id="message-if class="about-box">
<p><%= user.escape("about_field_one") || "Explain your interests." %></p>
<button id="change-message-if" class="edit-button">Edit</button>
</section>
