<% if (conversation.get("user_one") !== undefined) { %>
<h1> Conversation with <%=currentUser.notMe(conversation.get("user_one"), conversation.get("user_two")).username%> </h1>
<ul>
  <% conversation.replies().each(function(reply) { %>
    <li><%= reply.get("user").username %>: <%= reply.get("body") %></li>
  <% }) %>
</ul>
<% } %>
<form id="send-message">
  <label for="body">Send a Message</label>
  <textarea name="conversation_reply[body]" id="body"></textarea>
  <button>Send</button>
</form>
