<h1> Hello from message show!</h1>
<% if (message.get("user_one") !== undefined) { %>
<p>Conversation between <%= message.get("user_one").username %> and <%= message.get("user_two").username %> </p>
<ul>
  <% message.get("replies").forEach(function(reply) { %>
    <li><%= reply.body %></li>
  <% }) %>
</ul>
<% } %>
<form id="send-message">
  <label for="body">Send a Message</label>
  <textarea name="conversation_reply[body]" id="body"></textarea>
  <button>Send</button>
</form>
