<%= user.escape('username') %>


<section class="face-view">
  <img class="profile-picture" src="http://placehold.it/280x150">
</section>
<header>
  <ul class="tabs" data-content-tabs="#content-tabs">
    <li><button id="about-button" class="active">About</button></li>
    <li><button id="question-button">Questions</button></li>
  </ul>
</header>
<section class="content-tabs"></section>
<section class="self-facts-view"></section>
