.btn {
  padding: 5px;
  border-radius: 10px;
  display: block;
  text-decoration: none;
}
.btn-social{
  position:relative;
  text-align:left;
  text-overflow:ellipsis
}

.btn-github{
  color:#fff;
  background-color:#444;
  border-color:rgba(0,0,0,0.2);
  width: 140px;
}

.btn-github:hover{
  color:#fff;
  background-color:#2b2b2b;
  border-color:rgba(0,0,0,0.2)
}

.btn-codevelop{
  font-family: 'Sansita One';
}

.btn-codevelop{
  color:#fff;
  background-color:#CB2027;
  border-color:rgba(0,0,0,0.2);
  width: 60px
}

.btn-codevelop:hover {
  color:#fff;
  background-color: maroon;
  border-color:rgba(0,0,0,0.2)
}
