#img-thumbnail {
  width: 110px;
  display: block;
  float: left;
}

.conversation-box {
  display: block;
  border-top: 1px solid #ccc;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
}

.conversation-box:nth-child(odd){
  background: #D5E0F7;
}

.conversation-box p {
  padding-left: 20px;
  display: block;
  position: relative;
  left: 20px;
}

.conversation-box:hover {
  background: #ccc;
}

.messages-index {
  padding: 20px;
}

.messages-index h1{
  font-size: 24px;
  padding-bottom: 20px;
}
