#sign-in-area {
  display: block;
  margin: 140px auto;
  width: 900px;
}

#sign-in-area h1{
  text-align: center;
  font-size: 32px;
}

#sign-in-area label, input, a.btn-github {
  display: block;
  margin: 5px auto;
  text-align: center;
  float: center;
}

.btn-github{
  color:#fff;
  background-color:#444;
  border-color:rgba(0,0,0,0.2);
  width: 200px;
  text-align: center;
  text-overflow:ellipsis;
  padding: 5px;
  display: block;
  text-decoration: none;
  font-size: 24px;
}

.btn-github:hover{
  color:#fff;
  background-color:#2b2b2b;
}

#sign-in-area {
  position: relative;
}

#sign-in-area label {
  font-size: 24px;
  padding-top: 10px;
}

#sign-in-area input {
  font-size: 28px;
  padding: 5px;
  width: 200px;
}

#sign-in-area p {
  margin: 30px auto;
  display: table;
  text-align: center;
  padding: 1px 6px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 2;
  background: #114A9E;
}

#sign-in-area #the-line {
  position: absolute;
  content: "";
  width: 900px;
  float: left;
  border-bottom: 1px solid #fff;
  bottom: 105px;
  z-index: -1
}

.btn-submit{
  padding: 10px;
  border-radius: 5%;
  border: none;
}

.btn-submit{
  margin-top: 10px;
  color: #fff;
  background-color: #00D280;
  width: 60px
}

.btn-submit:hover {
  background-color: #48E588;
}

.ui-dialog input {
  text-align: left;
}
