#sign-in-area {
  display: block;
  margin: 140px auto;
  width: 900px;
}

#sign-in-area h1{
  text-align: center;
  font-size: 32px;
}

#sign-in-area label, input, a.btn-github {
  display: block;
  margin: 5px auto;
  text-align: center;
  float: center;
}

#sign-in-area #username, #password {
  text-align: left
}

#sign-in-area .btn-github{
  display: block;
  border-radius: 5px;
  color:#fff;
  background-color:#444;
  margin: 0 auto;
  width: 240px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
}

#sign-in-area .btn-github:hover{
  color:#fff;
  background-color:#2b2b2b;
}

#sign-in-area {
  position: relative;
}

#sign-in-area label {
  font-size: 24px;
  padding-top: 10px;
}

#sign-in-area input {
  font-size: 20px;
  padding: 5px;
  width: 200px;
}

#sign-in-area p {
  margin: 30px auto;
  display: table;
  text-align: center;
  padding: 1px 6px;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 2;
  background: #114A9E;
}

#sign-in-area #the-line {
  margin-top: 30px;
  position: relative;
  content: "";
  width: 900px;
  float: left;
  border-bottom: 1px solid #fff;
}

#sign-in-area #demo-button-land {
  display: inline-block;
  text-align: center;
}

#sign-in-area form {
  display: block;
}

.btn-submit {
  padding: 10px;
  border-radius: 3px;
  border: none;
  margin-top: 20px;
  color: #fff;
  background-color: #00D280;
  width: 60px
}

.btn-submit:hover {
  background-color: #48E588;
}

.ui-dialog input {
  text-align: left;
}

#separating-line {
  position: relative;
  top: -10px;
}

.other-login-buttons {
  display: block;
  margin: 0 auto;
}
