body {
  -webkit-appearance: none;
}

.sign-in {
  display: block;
  padding-right: 20px;
  padding-top: 20px;
  margin: 10px 0px;
  min-height: 100px;
  clear: left;
  width: 100%;
}

.sign-in div {
  display: block;
  padding-right: 10px;
}

.sign-in p {
  display: block;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}

.sign-in a {
  display: block;
  float: right;
}

.btn-codevelop{
  padding: 10px;
  border-radius: 5%;
  color:#D6E1EB;
  background-color: #114A9E;
  border: 1px solid #658BBF;
  width: 60px
}

.btn-codevelop:hover {
  background-color: #1f57a3;
  outline: none;
}

.sign-up-area {
  display: block;
  float: center;
}

#site-title {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#tagline {
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
}

.language-selection-area {
  display: "block";
  margin: 0 auto;
  width: 900px;
  padding-top: 50px;
  position: relative;
}

.language-selection-area > p {
  font-size: 24px;
  display: block;
  position: relative;
  float: left;
  left: 230px;
  margin: 20px 0px;
}


.language-selection-area  .ui-selectmenu-button {
  position: relative;
  left: 255px;
  float: left;
  background: white;
  margin-top: 10px;
}

.language-selection-area select {
  width: 280px;
}

.language-selection-area button {
  display: block;
  position: relative;
  border-radius: 5%;
  font-size: 20px;
  float: left;
  left: 285px;
  background: #00D280;
  padding: 5px 40px;
  color: #fff;
  border: none;
  margin-top: 5px;
}

.language-selection-area button:hover {
  background: #48E588
}

#dialog-form label, input {
  display: block;
}

#dialog-form {
  background: white;
}

#dialog-form button {
  background: #0c0;
}

.ui-dialog-titlebar {
  background: white;
  border: none;
}

.ui-dialog-buttonset .ui-button-text {
  background: #00D280;
  color: #fff;
}

.footer-links {
   position:fixed;
   bottom:0px;
   height:24px;
   width:100%;
   background: white;
   color: black;
   font-size: 14px;
}

.footer-links p {
  float: right;
  padding-right: 10px;
  margin: 5px 0px;
}

.footer-links a {
  text-decoration: underline;
  color: #0000EE;
}

.face-thumb {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

#current-user-info {
  float: right;
  display: block;
  padding-right: 30px;
}

#misc-buttons {
  float: left;
}

#menu-bar {
  margin: 0px;
}

#misc-buttons .menu-button {
  font-size: 18px;
  padding-left: 20px;
  padding-top: 20px;
  display: block;
  float: left;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 0px;
}

#sign-out {
  float: left;
  background: transparent;
}

#codevelop-button {
  float: left;
}

#demo-button-land .demo-user-submit {
  display: block;
  float: right;
  padding: 10px;
  border-radius: 5%;
  color:#D6E1EB;
  background-color: #114A9E;
  border: 1px solid #658BBF;
  font-size: 12px;
}

#demo-button-land .demo-user-submit:hover {
  background-color: #1f57a3;
  outline: none;
}

#demo-button-land {
  display: block;
  padding-right: 10px;
}

#errors {
  font-style: italic;
}

#little-magnifying-glass {
  width: 16px;
  height: 16px;
  position: relative;
  left: 905px;
  top: 24px;
  z-index: 4;
}

#attribution {
  display: none;
}
