.sign-in {
  display: block;
  float: right;
  padding-right: 20px;
  padding-top: 20px;
  margin: 10px 0px;
  min-height: 100px;
  clear: left;
  width: 100%;
}

.sign-in > p {
  display: block;
  float: right;
  margin-right: 20px;
}

.sign-in > a {
  margin-top: 5px;
  display: block;
  float: right;
}

.btn-codevelop{
  padding: 10px;
  border-radius: 5%;
  color:#D6E1EB;
  background-color: #114A9E;
  border: 1px solid #658BBF;
  width: 60px
}

.btn-codevelop:hover {
  background-color: #1f57a3;
  border: none;
}

.sign-up-area {
  display: block;
  float: center;
}

#site-title {
  display: block;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#tagline {
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
}

.language-selection-area {
  display: "block";
  margin: 0 auto;
  width: 900px;
  padding-top: 50px;
  position: relative;
}

.language-selection-area > p {
  font-size: 24px;
  display: block;
  position: relative;
  float: left;
  left: 230px;
  margin: 10px 0px;
}


.language-selection-area  .ui-selectmenu-button {
  position: relative;
  left: 255px;
  float: left;
  background: white;
}

.language-selection-area select {
  width: 280px;
}

.language-selection-area button {
  display: block;
  position: relative;
  border-radius: 5%;
  font-size: 20px;
  float: left;
  left: 285px;
  background: #00D280;
  padding: 10px 40px;
  color: #fff;
  border: none;
}

.language-selectio-area button:hover {
  background: #48E588
}

#dialog-form label, input {
  display: block;
}

#dialog-form {
  background: white;
}

#dialog-form button {
  background: #0c0;
}

.ui-dialog-titlebar {
  background: white;
  border: none;
}

#ui-id-2 {
  text-align: center;
}

.ui-dialog-buttonset .ui-button-text {
  background: #00D280;
  color: #fff;
}
