// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span,
h1, h2, h3, a, ol, ul, li, header, section, button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font: inherit;
	color: inherit;
	text-align: inherit;
	text-decoration: inherit;
	box-sizing: inherit;
	vertical-align: inherit;
	background: transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.1666666;
	font-family: roboto;
}
ol, ul {
	list-style: none;
}

.backdrop {
	position: relative;
}

img {
	display: block;
}
