.profile {
  padding: 40px 20px;
}

.profile #input-user-avatar {
  position: absolute;
}

.prof-section {
  display: block;
  width: 280px;
  position: relative;
}

.prof-section .profile-picture {
  display: block;
}

#input-user-avatar {
  display: none;
}

.edit-pencil {
  display: block;
  padding-left: 10px;
  width: 16px;
  height: 16px;
  float: left;
  cursor: pointer;
}

#profile-edit-pencil {
  display: none;
  position: absolute;
  cursor: pointer;
  left: 264px;
}

.prof-section:hover #profile-edit-pencil {
  display: block;
}

.about-section {
  margin-top: 20px;
  width: 90%;
}
.about-section label {
  font-weight: bold;
  float: left;
  display: block;
  font-size: 20px;
}
.about-section h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
}

.about-section p {
  width: 100%;
  padding: 20px 0px;
  display: block;
  float: left;
}

.about-section label {
  display: block;
}

.about-section thumb {
  margin-left: 10px;
}

.about-section input {
  width: 580px;
  float: left;
  display: block;
  text-align: left;
}

.about-input {
  margin: 0;
  display: block;
}

.about-section button {
  display: block;
  float: left;
  background: #114A9E;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 3px;
  margin: 10px 0px;
}

.self-facts-view button{
  background: #114A9E;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 1px;
}

.prof-section {
  display: block;
  float: left;
}

.face-view #username {
  display: block;
  font-size: 36px;
  float: left;
  position: relative;
  bottom: -90px;
  padding-left: 20px;
}

.face-view #facts {
  display: block;
  font-size: 16px;
  float: left;
  position: relative;
  bottom: -126px;
  left: -170px;
}

.self-facts-view h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
  display: block;
  width: 230px;
  float: left;
}

.self-facts-view .edit-pencil {
  float: left;
  padding: 27px 0px;
}

#details ul {
  border-top: 1px solid #ccc;
}
#details li {
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 10px 0px;
}

#details label {
  display: block;
  float: left;
}

#details p {
  display: block;
  float: left;
  margin: 0px;
  padding-left: 30px
}

#start-convo {
  background: #313740;
  padding: 10px 30px;
  border-radius: 5%;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-right: 20px;
}

#start-convo:hover {
  background: #3C444E
}

.about-box input {
  margin-top: 20px;
  font-size: 16px;
}

.self-facts-view input {
  font-size: 16px;
  float: left;
  text-align: left;
  margin: 0px;
  margin-left: 10px;
  width: 150px;
}

.content-selector-buttons {
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.content-selector-buttons button{
  border: none;
  background: none;
  font-size: 18px;
  outline: none;
}

.content-selector-buttons button.active {
  color: #1f57a3;
  border-bottom: 3px solid #1f57a3;
}
