// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
  background: #114A9E;
  color: #D6E1EB;
  width: 100%;
}

#main {
  margin: auto;
  background: #F3F5F9;
  color: #5E6572;
  width: 950px;
  display: block;
}

.backdrop {
  width: inherit;
}

.menu-button {
  color: #D6E1EB;
  font-size: 14px;
  font-family: roboto;
}

.user-index-block {
  border: 1px solid gray;
  float: left;
  margin-left: 28px;
  margin-top: 30px;
  width: 278px;
  height: 200px;
  display: block
}

.group:after {
  display: block;
  clear: both;
  content: "";
}

.user-picture {
  width: 278px;
  height: 150px;
  margin: auto;
  display: block;
}
