// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 body {
  background: #114A9E;
  color: #D6E1EB;
}

#main {
  background: #F3F5F9;
  color: #5E6572;
}
