.profile {
  padding: 40px 20px;
}

.profile #input-user-avatar {
  position: absolute;
}

.prof-section {
  display: block;
  width: 280px;
  position: relative;
}

.prof-section .profile-picture {
  display: block;
}

#input-user-avatar {
  display: none;
}

.edit-pencil {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
}

#profile-edit-pencil {
  display: none;
  position: absolute;
  cursor: pointer;
  left: 264px;
}

.prof-section:hover #profile-edit-pencil {
  display: block;
}

.about-section label {
  float: left;
  display: block;
}
.about-section h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0px;
}

.about-section p {
  width: 620px;
  padding: 20px 0px;
  display: block;
  float: left;
}

.about-section .edit-pencil {
  margin-left: 10px;
}

.about-section input {
  width: 580px;
  float: left;
  display: inline-block;
  text-align: left;
}
